---
import pressHits from "../data/press-hits.json";
import PressCard from "./PressCard.astro";
---

<div
  id="extra_extra"
  class="flex flex-col items-center justify-center py-20 border-b border-purple-300 px-14 gap-20"
>
  <h2 class="text-center text-orange-600 text-4xl/12 lg:text-5xl/15 xl:text-5xl/17">EXTRA! EXTRA!</h2>

  <div class="flex justify-center gap-4 flex-wrap">
    {pressHits.map((hit) => (
      <PressCard
        id={hit.id}
        logoImage={hit.logoImage}
        pressImage={hit.pressImage}
        headline={hit.headline}
        headlineClass={hit.headlineClass}
        quote={hit.quote}
        quoteHighlight={hit.quoteHighlight}
        quoteSuffix={hit.quoteSuffix}
        url={hit.url}
        hideImageOnMobile={hit.hideImageOnMobile}
      />
    ))}
  </div>
</div>
