---
interface Props {
  id: string;
  quote: string;
  name: string;
  role: string;
  company: string;
}

const { id, quote, name, role, company } = Astro.props;
---

<div
  id={id}
  class="flex flex-col bg-amber-50 w-full max-w-106 border border-purple-300 rounded-3xl items-center text-center px-9 py-10 gap-4 hover:shadow-[12px_12px_4px_#CDD4FA] hover:-translate-3"
>
  <img src="/images/stars.svg" class="h-6" alt="" />
  <p class="text-xl text-slate-800 font-light">
    "{quote}"
  </p>
  <h3 class="text-2xl/10 my-1 max-w-100">
    {name}, {role}, {company}
  </h3>
</div>
